<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TURTLEBANK</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="/css/mypopup.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Arsha - v4.3.0
    * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <a href="/" class="logo me-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>

        <nav id="navbar" class="navbar">

            <ul>
                <li>

                        <a class="nav-link scrollto" onclick="active" href="/">Home</a>

                </li>
                <li>

                        <a class="nav-link scrollto" onclick="active" href="/notice/viewBoard">Notice</a>

                </li>
                <li>

                        <a class="nav-link scrollto" onclick="active" href="/qna/viewBoard">QnA</a>

                </li>


                <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->


                <li>

                        <a class="getstarted scrollto" style="color: #6e6c6a;!important;
                            background: #f3f5fa;!important;" href="/event/login">Login</a>

                </li>


            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>

        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/">Home</a></li>
                <li>Login</li>
            </ol>
            <h2 style="color:#00f">Login</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page contact">
        <div class="container">
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex justify-content-center" style="margin:0 auto;">
                <form role="form" class="php-email-form">

                    <div class="form-group">
                        <label for="name">ID</label>
                        <input type="text" class="form-control" name="username" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="name">PASSWORD</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <!-- <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div> -->

                    <div style="text-align:center; width:100%; display:inline-block;">
                        <button style="width: 40%;" type="submit" formmethod="post" formaction="/event/login">LOGIN
                        </button> &emsp;&emsp;&emsp;
                        <a style="width: 40%;" onclick="location.href='/user/signup'" class="mybtn">SIGN UP</a>
                    </div>
                </form>

            </div>
            <div style="text-align: center; padding: 20px;">
                <a href="/user/findPass" style="text-decoration: underline; color:blue;" >Forgot your PASSWORD?</a>
            </div>
        </div>

    </section>

</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>TURTLEBANK</h3>
                    <p style="color:#6e6e6d">
                        동국대 학술관 718호
                        Seoul
                        Korea<br>
                        <strong>Email:</strong> Kobuk@youtube.com<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; 모의해커 <strong><span>한끗차이</span></strong>. 많은 기대 부탁드립니다.
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">한끗차이</a>
        </div>


    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/waypoints/noframework.waypoints.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>


</html>